{% extends "base.html" %}


{% block head %}

<style type="text/css">

.rectangle{
		position: absolute;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -50%);
        overflow: auto;
        width: 100%;
		background-color: #ffffff;

		height:450px;

		border-radius: 8px;
	}
@keyframes example {
  40%   {background-color: violet;}
  50%  {background-color: indigo;}
  60%  {background-color: blue;}
  70%  {background-color: green;}
  80%  {background-color: yellow;}
  90%  {background-color: orange;}
  100% {background-color: red;}
}
</style>
{% endblock %}
{% block content %}
<body style="background-image: url(https://raw.githubusercontent.com/Prasanna-Natarajan-3595/Simply-con-website/server_signin/assest/Brick-wallaper-For-Background-19.jpg)">




<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://raw.githubusercontent.com/Prasanna-Natarajan-3595/Simply-con-website/server_signin/assest/ethernet.ico" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Simply-con
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/me">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/help">Help</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/me/profile">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

    </ul>
      <span class="navbar-text">
      Welcome {{name}}
    </span>
  </div>
</nav>



  <div class="w3-col m4 l3">
  	<div class="w3-colxs">
  <div class="rectangle" style="max-width: 901px;">
<div> <h3 style="font-family: 'Segoe UI'; size: 14; padding-left: 10px;">Timings</h3>
  <div style="padding-left: 90%;">
    <form action="/me/timing/add">
    
    <input type="submit" value="Add" class="btn btn-outline-dark" >
  </form>
  </div>
<hr> </div>
{% for i in content %}
    {% if i is not none %}
    <div style="padding-left: 10px;">
      <h4 style="font-family: 'Segoe UI'; size: 14; padding-left: 10px;">{{i[0]}} : {{i[1]}} : {{i[2]}} : {{i[3]}} : {{i[4]}}</h4><form action="/me/timing/{{i[0]}}">
        <input type="submit" class="btn btn-outline-danger" style="float: right;" value="Delete">
    </form>
      <br>
        <hr>
    </div>
    {% else %}
          <h4 style="font-family: 'Segoe UI'; size: 14; padding-left: 10px;">Start adding a time value by hitting add</h4>
    {% endif %}
{% endfor %}
</div>
      
      <div style="padding-top:1100px;"></div>
      <div style="position: absolute;
      left: 50%;

        transform: translate(-50%, -50%);
        width: 100%;
		background-color: #ffffff;
		height:450px;
		overflow: auto;
		border-radius: 8px;
		max-width: 901px;">
<div> <h3 style="font-family: 'Segoe UI'; size: 14; padding-left: 10px;">Sensors</h3>
  <div style="padding-left: 90%;">
    <form action="/me/sensor/add">

    <input type="submit" value="Add" class="btn btn-outline-dark" >
  </form>
  </div>
<hr> </div>
{% for i in content_2 %}
        {% if i is defined %}

    <div style="padding-left: 10px;">
      <h4 style="font-family: 'Segoe UI'; size: 14; padding-left: 10px;">{{i[0]}} : {{i[1]}} : {{i[2]}} : {{i[3]}} : {{i[4]}} : {{i[5]}}</h4><form action="/me/sensor/{{i[0]}}">
        <input type="submit" class="btn btn-outline-danger" style="float: right;" value="Delete">
    </form>
      <br>
        <hr>
    </div>
          {% else %}
          <div>
          <h4 style="font-family: 'Segoe UI'; size: 14; padding-left: 10px;">Start adding a sensor value by hitting add</h4>
          </div>
        {% endif %}
    {% endfor %}
  </div>
  </div>

</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
{% endblock %}

